* {
  margin: 0px;
  padding: 0px;
  font-family: "Arial";
  font-size: 16px;
  list-style-type: none;
  text-decoration: none;
  -webkit-box-sizing: border-box;
}

.App {
  width: 1280px;
  margin: 0 auto;
}

.main-content {
  position: relative;
  margin-top: 98px;
  margin-left: 240px;
  width: 712px;
  display: flex;
}
