#header {
  width: 1280px;
  height: 64px;
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  background-color: #fff;
}
.header-container {
  width: 1280px;
  height: 64px;
  position: relative;
  display: flex;
  align-items: center;
}
.search-box-container {
  width: 800px;
  min-height: 40px;
  position: absolute;
  left: 240px;
  display: flex;
}
.liner-logo {
  background-size: 32px;
}
.search-box {
  -webkit-box-sizing: border-box;
  width: 680px;
  border: none;
  border-radius: 8px;
  background-color: #eef1f4;
  font-family: "Roboto", "Noto Sans KR", "Noto Sans JP", "Noto Sans SC",
    sans-serif;
  line-height: 1.2;
  padding: 10px 54px 11px 16px;
  font-size: 16px;
  margin-left: 12px;
}
.search-box::placeholder {
  opacity: 0.3;
  font-size: 16px;
  color: #333333;
}
.search-box-container .search-img {
  position: absolute;
  top: 8px;
  right: 120px;
}
.right-buttons {
  display: flex;
  align-items: center;
  position: absolute;
  right: 0;
}
.upgrade-button {
  width: 100px;
  height: 32px;
  margin: 4px 24px 4px 212px;
  border: none;
  border-radius: 8px;
  background-color: #33cac6;
  font-size: 13px;
  font-weight: 500;
  font-family: "Montserrat", "Noto Sans KR", "Noto Sans JP", "Noto Sans SC",
    sans-serif;
  color: #fff;
}
