/*modal*/
.open-modal {
  z-index: 99;
  top: 0;
  overflow-y: hidden;
  cursor: default;
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.3);
  left: 0;
}
.modal.share {
  width: 480px;
}
.modal {
  padding: 20px 16px 16px;
  width: 400px;
  min-height: 179px;
  border-radius: 16px;
  background-color: #fff;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px 16px;
  display: flex;
  flex-direction: column;
}
.modal-header {
  margin-bottom: 0;
  padding: 0 12px 0 16px;
  font-family: "Montserrat", "Noto Sans KR", "Noto Sans JP", "Noto Sans SC",
    sans-serif;
  font-weight: 700;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  font-size: 24px;
  letter-spacing: -0.6px;
  color: #272b31;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.modal-title {
  font-family: "Montserrat", "Noto Sans KR", "Noto Sans JP", "Noto Sans SC",
    sans-serif;
  font-weight: 700;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  font-size: 24px;
  letter-spacing: -0.6px;
  color: #272b31;
  width: auto;
  height: 29px;
  text-align: center;
}
.modal .close {
  width: 32px;
  height: 32px;
  background-size: 24px;
  background-repeat: no-repeat;
  background-position: 50%;
  border-radius: 50%;
  background-image: url(https://getliner.com/src/images/close-light.svg);
  margin-left: auto;
  margin-right: -4px;
  margin-bottom: -3px;
  float: right;
}
.modal-detail {
  font-family: "Montserrat", "Noto Sans KR", "Noto Sans JP", "Noto Sans SC",
    sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.29;
  letter-spacing: -0.35px;
  color: #787d86;
}

/*share modal*/
.circular-button-container.sns {
  border-bottom: 1px solid #eee;
}
.sns .circular-button {
  background-repeat: no-repeat;
  background-size: 36px 36px;
  width: 36px;
  height: 36px;
  margin-left: 16px;
}
.circular-button.facebook {
  background-image: url(https://getliner.com/src/images/facebook.svg);
}
.circular-button.twitter {
  background-image: url(https://getliner.com/src/images/twitter.svg);
}
.circular-button.linkedin {
  background-image: url(https://getliner.com/src/images/linkdin.svg);
}
.circular-button.messenger {
  background-image: url(https://getliner.com/src/images/messenger.svg);
}
.circular-button.line {
  background-image: url(https://getliner.com/src/images/line.svg);
}
.circular-button.mail {
  background-image: url(https://getliner.com/src/images/mail.svg);
}
.circular-button:hover .sns-button-hover {
  display: block;
  height: 36px;
  z-index: 10;
  width: 36px;
  border-radius: 50%;
  background-color: rgba(39, 43, 49, 0.1);
}
.link-container {
  padding-left: 16px;
  margin-top: 7px;
  height: 36px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin-bottom: -4px;
}
.link-input {
  border: none;
  font-family: "Roboto", "Noto Sans KR", "Noto Sans JP", "Noto Sans SC",
    sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #555;
  width: 335px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}
.copy-button-container {
  text-align: right;
  height: 36px;
  display: flex;
  align-items: center;
}
.copy-to-clipboard {
  font-family: "Montserrat", "Noto Sans KR", "Noto Sans JP", "Noto Sans SC",
    sans-serif;
  font-size: 14px;
  font-weight: 700;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.25px;
  color: #00bdb8;
  border-radius: 8px;
  padding: 8px 12px;
  position: absolute;
  right: 0;
  margin-right: 4px;
}
/* filter modal*/
.filter-title {
  font-family: "Montserrat", "Noto Sans KR", "Noto Sans JP", "Noto Sans SC",
    sans-serif;
  font-weight: 700;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  font-size: 14px;
  letter-spacing: -0.35px;
  color: #969aa2;
  margin-bottom: 16px;
  margin-top: 24px;
  margin-left: 16px;
}
.input-outer-container {
  width: 336px;
  position: relative;
  margin: 0 auto;
  border-radius: 8px;
}
.input-inner-container {
  padding: 8px 4px;
  border-radius: 8px;
  height: 40px;
  overflow-x: hidden;
  background-color: rgb(246, 248, 250);
}
.tag-small-icon {
  background-repeat: no-repeat;
  background-size: 24px 24px;
  width: 24px;
  height: 24px;
  background-image: url(https://getliner.com/src/images/tag-small.svg);
  position: absolute;
}
.saved-tags-filter {
  margin-left: 36px;
  display: flex;
  flex-direction: row;
  right: 0;
  overflow-x: scroll;
}
.tag-search {
  font-family: "Roboto", "Noto Sans KR", "Noto Sans JP", "Noto Sans SC",
    sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.35px;
  color: #555;
  height: 24px;
  width: 100vw;
}
.tag-search::placeholder {
  opacity: 0.3;
  font-size: 14px;
  color: #333333;
}
.color-list {
  list-style: none;
  margin-top: 8px;
  padding: 0;
}
.color-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 368px;
  height: 32px;
  border-radius: 8px;
  cursor: pointer;
}
.color-container:hover {
  background-color: #f6f8fa;
}
.pallete {
  width: 20px;
  height: 20px;
  margin-left: 16px;
  display: flex;
  border-radius: 50%;
  flex-shrink: 0;
}
.pallete.yellow {
  background-color: #ffff83;
}
.pallete.mint {
  background-color: #a6ffe9;
}
.name {
  font-family: "Montserrat", "Noto Sans KR", "Noto Sans JP", "Noto Sans SC",
    sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  line-height: 20px;
  letter-spacing: -0.35px;
  color: #52565d;
  margin-left: 16px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  flex-shrink: 1;
}
.name.selected {
  color: #00bdb8;
}
.web-filter {
  width: 20px;
  margin-left: 16px;
  height: 20px;
  background-size: 20px;
  background-image: url(https://getliner.com/src/images/web-filter.svg);
}
.web-filter.selected {
  background-image: url(https://getliner.com/src/images/web-filter-selected.svg);
}
.pdf-filter {
  margin-left: 16px;
  width: 20px;
  height: 20px;
  background-size: 20px;
  background-image: url(https://getliner.com/src/images/pdf-filter.svg);
}
.pdf-filter.selected {
  background-image: url(https://getliner.com/src/images/pdf-filter-selected.svg);
}
.button-icon-container {
  display: flex;
  align-items: center;
  width: 20px;
  height: 10px;
}
.type.selected {
  margin-left: auto;
  position: absolute;
  right: 32px;
  width: 14px;
  height: 10px;
}
.button-icon-container .selected {
  background-image: url(https://getliner.com/src/images/check.svg);
  background-repeat: no-repeat;
  background-size: 14px 10px;
  width: 14px;
  height: 10px;
  margin-left: 4px;
}
.seperator {
  width: 368px;
  height: 1px;
  margin: 16px 0 7px;
  border: 1px solid #eef1f4;
}
.modal-footer {
  padding: 0 4px;
  display: flex;
  align-items: center;
  height: 40px;
}
.modal-footer .reset {
  font-family: "Montserrat", "Noto Sans KR", "Noto Sans JP", "Noto Sans SC",
    sans-serif;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 24px;
  font-size: 14px;
  letter-spacing: -0.35px;
  color: #787d86;
  border-radius: 8px;
  padding: 8px 12px;
}
.modal-footer .reset.disabled {
  opacity: 0.3;
  cursor: default;
}
.modal-footer .apply {
  font-family: "Montserrat", "Noto Sans KR", "Noto Sans JP", "Noto Sans SC",
    sans-serif;
  font-weight: 700;
  font-stretch: normal;
  font-style: normal;
  line-height: 24px;
  font-size: 16px;
  letter-spacing: -0.4px;
  color: #00bdb8;
  margin-left: auto;
  padding: 8px 12px;
  border-radius: 8px;
  display: flex;
}
.modal-footer .apply:hover {
  background-color: #e5f8f7;
}
/*export modal*/
.modal-detail .gap {
  margin-bottom: 16px;
}
.modal-detail .text {
  padding: 0 16px;
}
.button-container {
  width: 53px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 16px;
}
.circular-button-container {
  margin-left: 8px;
  padding-top: 24px;
  padding-bottom: 24px;
  display: flex;
}
.circular-button {
  margin-left: 0;
  background-repeat: no-repeat;
  background-size: 36px 36px;
  width: 36px;
  height: 36px;
}
.circular-button.word {
  background-image: url(https://getliner.com/src/images/word.svg);
}
.circular-button.onenote {
  background-image: url(https://getliner.com/src/images/onenote.svg);
}
.circular-button.evernote {
  background-image: url(https://getliner.com/src/images/evernote.svg);
}
.circular-button.plain-text {
  background-image: url(https://getliner.com/src/images/text.svg);
}
.circular-button:hover .export-button-hover {
  display: block;
  height: 36px;
  z-index: 10;
  width: 36px;
  border-radius: 50%;
  background-color: rgba(39, 43, 49, 0.1);
}
.button-title {
  font-family: "Montserrat", "Noto Sans KR", "Noto Sans JP", "Noto Sans SC",
    sans-serif;
  font-size: 12px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.3px;
  text-align: center;
  color: #787d86;
  display: block;
  margin-top: 8px;
}
/*trash modal*/
.trash-gap {
  margin-bottom: 24px;
}
.trash-modal-footer .delete {
  margin-top: 32px;
}
.action-button-container {
  display: flex;
  justify-content: flex-end;
  margin-right: 4px;
}
.delete button.action-button {
  padding: 8px 12px;
  margin-bottom: -4px;
}
button.action-button {
  font-family: "Montserrat", "Noto Sans KR", "Noto Sans JP", "Noto Sans SC",
    sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: -0.4px;
}
button.action-button.default {
  border-radius: 8px;
  color: #787d86;
  font-weight: 400;
}
button.action-button.default:hover {
  background-color: #f6f8fa;
}
button.action-button.negative {
  border-radius: 8px;
  font-weight: 700;
  color: #f35750;
}
button.action-button.negative:hover {
  background-color: rgba(243, 87, 80, 0.1);
}
