.PDF-button {
  padding: 11px 16px;
  width: 82px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  border-radius: 8px;
  border: 1px solid #dde1e7;
  background-color: #fff;
  color: #787d86;
  font-family: "Montserrat", "Noto Sans KR", "Noto Sans JP", "Noto Sans SC",
    sans-serif;
}
.PDF-button:hover {
  background-color: #f6f8fa;
}
.PDF {
  font-family: "Montserrat", "Noto Sans KR", "Noto Sans JP", "Noto Sans SC",
    sans-serif;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.35px;
  color: #787d86;
  margin-left: 8px;
  line-height: 1.2;
}
.summary {
  position: relative;
  display: inline-flex;
  margin-left: 16px;
}
.pages,
.highlights {
  font-family: "Montserrat", "Noto Sans KR", "Noto Sans JP", "Noto Sans SC",
    sans-serif;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  color: #787d86;
}
.middleDot {
  background-image: url(https://getliner.com/src/images/dot.svg);
  width: 2px;
  height: 2px;
  align-self: center;
}
.pages {
  margin-right: 10px;
}
.highlights {
  margin-left: 10px;
}
/*page checked header*/
.page-selected {
  padding: 0;
  height: 40px;
  top: 64px;
  margin-top: 40px;
  position: sticky;
  position: -webkit-sticky;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  z-index: 11;
}
.selected-left-container {
  display: flex;
  align-items: center;
  font-family: "Montserrat", "Noto Sans KR", "Noto Sans JP", "Noto Sans SC",
    sans-serif;
  font-size: 14px;
  font-weight: 700;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: -0.35px;
  color: #52565d;
}
.unselect-button.circular-button {
  width: 32px;
  height: 32px;
  background-size: 24px;
  background-repeat: no-repeat;
  background-position: 50%;
  border-radius: 50%;
  background-image: url(https://getliner.com/src/images/close-light.svg);
  margin-right: 8px;
}
.tags-dropdown.circular-button {
  width: 32px;
  height: 32px;
  background-size: 24px;
  background-repeat: no-repeat;
  background-position: 50%;
  border-radius: 50%;
  background-image: url(https://getliner.com/src/images/addtags-header.svg);
}
.move-to-trash.circular-button {
  width: 32px;
  height: 32px;
  background-size: 24px;
  background-repeat: no-repeat;
  background-position: 50%;
  border-radius: 50%;
  background-image: url(https://getliner.com/src/images/delete-header.svg);
  position: relative;
}
/*basic header*/
.myhighlights-header {
  position: sticky;
  position: -webkit-sticky;
  top: 64px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px 0 0;
  z-index: 1;
  margin-top: 40px;
  width: 712px;
  height: 40px;
  background-color: #fff;
}
/*search focused*/
.search-focus-container {
  display: flex;
  align-items: center;
  user-select: auto;
  width: 100%;
}
.dropdown-container {
  position: relative;
  height: 32px;
}
.search-option-button {
  height: 32px;
  padding: 7px 0;
  margin-left: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}
.search-option {
  font-family: "Montserrat", "Noto Sans KR", "Noto Sans JP", "Noto Sans SC",
    sans-serif;
  font-size: 12px;
  font-size: 12px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: -0.3px;
  color: #787d86;
  margin-left: 8px;
}
.filter-icon {
  background-image: url(https://getliner.com/src/images/filter-closed.svg);
  width: 16px;
  height: 16px;
  margin: 0 4px;
  object-fit: contain;
}
.cancel-search-button.circular-button {
  background-size: 24px;
  background-repeat: no-repeat;
  background-position: 50%;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  margin-left: auto;
  margin-right: 6px;
  flex-shrink: 0;
  background-image: url(https://getliner.com/src/images/cancel-search-header.svg);
}
.search-message {
  font-family: "Montserrat", "Noto Sans KR", "Noto Sans JP", "Noto Sans SC",
    sans-serif;
  display: flex;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  color: #969aa2;
  height: 34px;
  align-items: center;
  padding-left: 16px;
  font-size: 12px;
  letter-spacing: -0.3px;
}
/*search not focused*/
.tab-container {
  display: flex;
  align-items: center;
  position: relative;
  padding-left: 16px;
}
.highlight-button,
.tags-button {
  padding: 11px 16px;
  border-radius: 8px;
  font-family: "Montserrat", "Noto Sans KR", "Noto Sans JP", "Noto Sans SC",
    sans-serif;
  font-size: 14px;
  font-weight: 700;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.35px;
  margin-right: 8px;
}
.highlight-button {
  background-color: #eef1f4;
  color: #52565d;
}
.tags-button {
  background-color: #fff;
  color: #969aa2;
}
.tags-button:hover {
  background-color: #f6f8fa;
}
.filter-container {
  display: flex;
  align-items: center;
  width: 284px;
}
.filter-button-container {
  display: inline;
  position: relative;
}
.filter-button {
  background-image: url(https://getliner.com/src/images/filter-header.svg);
  width: 28px;
  height: 28px;
  background-size: 24px;
  background-repeat: no-repeat;
  background-position: 50%;
  position: relative;
  top: 2px;
}
.filter-button:hover {
  background-color: #f6f8fa;
  border-radius: 50%;
}
.search-container {
  width: 100%;
  flex-shrink: 1;
  display: flex;
  justify-content: space-between;
  margin-left: 16px;
  height: 32px;
  border-radius: 8px;
  border: 1px solid #dde1e7;
}
.input-container {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
}
.search-bar {
  appearance: none;
  width: calc(100% - 34px);
  height: 100%;
  flex-shrink: 1;
  font-family: "Roboto", "Noto Sans KR", "Noto Sans JP", "Noto Sans SC",
    sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  line-height: 18px;
  letter-spacing: normal;
  color: #555;
  padding: 8px 16px;
}
.search-bar::placeholder {
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 18px;
  letter-spacing: normal;
  color: #555555;
  opacity: 0.3;
}
.input-container .search-img {
  background-size: 24px;
  background-repeat: no-repeat;
  background-position: 50%;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  background-image: url(https://getliner.com/src/images/search-header.svg);
  margin-left: auto;
  margin-right: 6px;
  flex-shrink: 0;
}
.myhighlight-container {
  width: 100%;
  padding-top: 8px;
}
.highlight {
  display: flex;
}
.highlight-index {
  border-left: 4px solid #7fdedb;
  margin: 2px 0;
}
.highlight-content {
  font-size: 14px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0 16px;
  width: 100%;
  font-family: "Roboto", "Noto Sans KR", "Noto Sans JP", "Noto Sans SC",
    sans-serif;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
  color: #555;
  word-wrap: break-word;
  background-color: transparent;
}
.myhighlight-tags {
  display: flex;
  flex-direction: row;
}
.tag-icon {
  background-image: url(https://getliner.com/src/images/tag-icon.svg);
  width: 20px;
  height: 20px;
  margin: 2px 8px 12px 0;
  display: inline-block;
}
.saved-tags {
  max-width: 652px;
  margin-bottom: 4px;
  display: flex;
  flex-wrap: wrap;
}
.saved-tag {
  cursor: pointer;
  border-radius: 4px;
  background-color: #f6f8fa;
  display: inline-flex;
  align-items: center;
  white-space: nowrap;
  font-family: "Montserrat", "Noto Sans KR", "Noto Sans JP", "Noto Sans SC",
    sans-serif;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 18px;
  font-size: 12px;
  letter-spacing: -0.3px;
  color: #787d86;
  height: 24px;
  margin: 0 8px 6px 0;
  padding: 3px 6px;
  min-width: 48px;
  text-align: center;
  position: relative;
  justify-content: center;
}

.saved-tag-link {
  font-family: "Montserrat", "Noto Sans KR", "Noto Sans JP", "Noto Sans SC",
    sans-serif;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  font-size: 12px;
  letter-spacing: -0.3px;
  color: #787d86;
  overflow: hidden;
  text-align: center;
  position: relative;
}
.add-tags {
  font-family: "Montserrat", "Noto Sans KR", "Noto Sans JP", "Noto Sans SC",
    sans-serif;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  font-size: 12px;
  letter-spacing: -0.3px;
  color: #b0b4bd;
  border-radius: 4px;
  margin: 0 0 6px;
  height: 24px;
  padding: 0 6px;
}
.add-tags:hover {
  background-color: #f6f8fa;
}
.vertical-line {
  border-left: 1px solid #777;
  height: 10px;
  margin: 0 6px;
}
.saved-date {
  font-family: "Roboto", "Noto Sans KR", "Noto Sans JP", "Noto Sans SC",
    sans-serif;
  color: #777;
  font-size: 11px;
  font-weight: 400;
}

.page-select {
  position: absolute;
  top: 15px;
  right: 20px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-image: url(https://getliner.com/src/images/check-light.svg);
  background-size: 14px 10px;
  background-position: 50%;
  background-repeat: no-repeat;
  z-index: 0;
  cursor: pointer;
}
