.PDF-button {
  padding: 11px 16px;
  width: 82px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  border-radius: 8px;
  border: 1px solid #dde1e7;
  background-color: #fff;
  color: #787d86;
  font-family: "Montserrat", "Noto Sans KR", "Noto Sans JP", "Noto Sans SC",
    sans-serif;
}
.PDF-button:hover {
  background-color: #f6f8fa;
}
.PDF {
  font-family: "Montserrat", "Noto Sans KR", "Noto Sans JP", "Noto Sans SC",
    sans-serif;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.35px;
  color: #787d86;
  margin-left: 8px;
  line-height: 1.2;
}
.summary {
  position: relative;
  display: inline-flex;
  margin-left: 16px;
}
.pages,
.highlights {
  font-family: "Montserrat", "Noto Sans KR", "Noto Sans JP", "Noto Sans SC",
    sans-serif;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  color: #787d86;
}
.middleDot {
  background-image: url(https://getliner.com/src/images/dot.svg);
  width: 2px;
  height: 2px;
  align-self: center;
}
.pages {
  margin-right: 10px;
}
.highlights {
  margin-left: 10px;
}
.myhighlights-header {
  position: sticky;
  position: -webkit-sticky;
  top: 64px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px 0 0;
  z-index: 1;
  margin-top: 40px;
  width: 712px;
  height: 40px;
  background-color: #fff;
}
/*search focused*/
.search-focus-container {
  display: flex;
  align-items: center;
  user-select: auto;
  width: 100%;
}
.dropdown-container {
  position: relative;
  height: 32px;
}
.search-option-button {
  height: 32px;
  padding: 7px 0;
  margin-left: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}
.search-option {
  font-family: "Montserrat", "Noto Sans KR", "Noto Sans JP", "Noto Sans SC",
    sans-serif;
  font-size: 12px;
  font-size: 12px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: -0.3px;
  color: #787d86;
  margin-left: 8px;
}
.filter-icon {
  background-image: url(https://getliner.com/src/images/filter-closed.svg);
  width: 16px;
  height: 16px;
  margin: 0 4px;
  object-fit: contain;
}
.cancel-search-button.circular-button {
  background-size: 24px;
  background-repeat: no-repeat;
  background-position: 50%;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  margin-left: auto;
  margin-right: 6px;
  flex-shrink: 0;
  background-image: url(https://getliner.com/src/images/cancel-search-header.svg);
}
.search-message {
  font-family: "Montserrat", "Noto Sans KR", "Noto Sans JP", "Noto Sans SC",
    sans-serif;
  display: flex;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  color: #969aa2;
  height: 34px;
  align-items: center;
  padding-left: 16px;
  font-size: 12px;
  letter-spacing: -0.3px;
}
/*search not focused*/
.tab-container {
  display: flex;
  align-items: center;
  position: relative;
  padding-left: 16px;
}
.highlight-button,
.tags-button {
  padding: 11px 16px;
  border-radius: 8px;
  font-family: "Montserrat", "Noto Sans KR", "Noto Sans JP", "Noto Sans SC",
    sans-serif;
  font-size: 14px;
  font-weight: 700;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.35px;
  margin-right: 8px;
}
.highlight-button {
  background-color: #eef1f4;
  color: #52565d;
}
.tags-button {
  background-color: #fff;
  color: #969aa2;
}
.tags-button:hover {
  background-color: #f6f8fa;
}
.filter-container {
  display: flex;
  align-items: center;
  width: 284px;
}
.filter-button-container {
  display: inline;
  position: relative;
}
.filter-button {
  background-image: url(https://getliner.com/src/images/filter-header.svg);
  width: 28px;
  height: 28px;
  background-size: 24px;
  background-repeat: no-repeat;
  background-position: 50%;
  position: relative;
  top: 2px;
}
.filter-button:hover {
  background-color: #f6f8fa;
  border-radius: 50%;
}
.search-container {
  width: 100%;
  flex-shrink: 1;
  display: flex;
  justify-content: space-between;
  margin-left: 16px;
  height: 32px;
  border-radius: 8px;
  border: 1px solid #dde1e7;
}
.input-container {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
}
.search-bar {
  appearance: none;
  width: calc(100% - 34px);
  height: 100%;
  flex-shrink: 1;
  font-family: "Roboto", "Noto Sans KR", "Noto Sans JP", "Noto Sans SC",
    sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  line-height: 18px;
  letter-spacing: normal;
  color: #555;
  padding: 8px 16px;
}
.search-bar::placeholder {
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 18px;
  letter-spacing: normal;
  color: #555555;
  opacity: 0.3;
}
.input-container .search-img {
  background-size: 24px;
  background-repeat: no-repeat;
  background-position: 50%;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  background-image: url(https://getliner.com/src/images/search-header.svg);
  margin-left: auto;
  margin-right: 6px;
  flex-shrink: 0;
}
.myhighlight-container {
  width: 100%;
  padding-top: 8px;
}
.highlight {
  display: flex;
}
.highlight-index {
  border-left: 4px solid #7fdedb;
  margin: 2px 0;
}
.highlight-content {
  font-size: 14px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0 16px;
  width: 100%;
  font-family: "Roboto", "Noto Sans KR", "Noto Sans JP", "Noto Sans SC",
    sans-serif;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
  color: #555;
  word-wrap: break-word;
  background-color: transparent;
}
.myhighlight-tags {
  display: flex;
  flex-direction: row;
}
.tag-icon {
  background-image: url(https://getliner.com/src/images/tag-icon.svg);
  width: 20px;
  height: 20px;
  margin: 2px 8px 12px 0;
  display: inline-block;
}
.saved-tags {
  max-width: 652px;
  margin-bottom: 4px;
  display: flex;
  flex-wrap: wrap;
}
.saved-tag {
  cursor: pointer;
  border-radius: 4px;
  background-color: #f6f8fa;
  display: inline-flex;
  align-items: center;
  white-space: nowrap;
  font-family: "Montserrat", "Noto Sans KR", "Noto Sans JP", "Noto Sans SC",
    sans-serif;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 18px;
  font-size: 12px;
  letter-spacing: -0.3px;
  color: #787d86;
  height: 24px;
  margin: 0 8px 6px 0;
  padding: 3px 6px;
  min-width: 48px;
  text-align: center;
  position: relative;
  justify-content: center;
}

.saved-tag-link {
  font-family: "Montserrat", "Noto Sans KR", "Noto Sans JP", "Noto Sans SC",
    sans-serif;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  font-size: 12px;
  letter-spacing: -0.3px;
  color: #787d86;
  overflow: hidden;
  text-align: center;
  position: relative;
}
.add-tags {
  font-family: "Montserrat", "Noto Sans KR", "Noto Sans JP", "Noto Sans SC",
    sans-serif;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  font-size: 12px;
  letter-spacing: -0.3px;
  color: #b0b4bd;
  border-radius: 4px;
  margin: 0 0 6px;
  height: 24px;
  padding: 0 6px;
}
.add-tags:hover {
  background-color: #f6f8fa;
}
.vertical-line {
  border-left: 1px solid #777;
  height: 10px;
  margin: 0 6px;
}
.saved-date {
  font-family: "Roboto", "Noto Sans KR", "Noto Sans JP", "Noto Sans SC",
    sans-serif;
  color: #777;
  font-size: 11px;
  font-weight: 400;
}
.dropdown-icon {
  background-repeat: no-repeat;
  background-size: 24px 24px;
  width: 24px;
  height: 24px;
  margin-right: 8px;
}
.dropdown-content .full-text {
  background-image: url(https://getliner.com/src/images/summary-dropdown.svg);
}
.dropdown-content .highlight-summary {
  background-image: url(https://getliner.com/src/images/fulltext-dropdown.svg);
}
.dropdown-content .edit-title {
  background-image: url(https://getliner.com/src/images/edit-header.svg);
}
.dropdown-content .view-origin {
  background-image: url(https://getliner.com/src/images/original-dropdown.svg);
}
.dropdown-content .move-trash {
  background-image: url(https://getliner.com/src/images/delete-tooltip.svg);
}
/* filter modal*/
.filter-title {
  font-family: "Montserrat", "Noto Sans KR", "Noto Sans JP", "Noto Sans SC",
    sans-serif;
  font-weight: 700;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  font-size: 14px;
  letter-spacing: -0.35px;
  color: #969aa2;
  margin-bottom: 16px;
  margin-top: 24px;
  margin-left: 16px;
}
.input-outer-container {
  width: 336px;
  position: relative;
  margin: 0 auto;
  border-radius: 8px;
}
.input-inner-container {
  padding: 8px 4px;
  border-radius: 8px;
  height: 40px;
  overflow-x: hidden;
  background-color: rgb(246, 248, 250);
}
.tag-small-icon {
  background-repeat: no-repeat;
  background-size: 24px 24px;
  width: 24px;
  height: 24px;
  background-image: url(https://getliner.com/src/images/tag-small.svg);
  position: absolute;
}
.saved-tags-filter {
  margin-left: 36px;
  display: flex;
  flex-direction: row;
  right: 0;
  overflow-x: scroll;
}
.tag-search {
  font-family: "Roboto", "Noto Sans KR", "Noto Sans JP", "Noto Sans SC",
    sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.35px;
  color: #555;
  height: 24px;
  width: 100vw;
}
.tag-search::placeholder {
  opacity: 0.3;
  font-size: 14px;
  color: #333333;
}
.color-list {
  list-style: none;
  margin-top: 8px;
  padding: 0;
}
.color-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 368px;
  height: 32px;
  border-radius: 8px;
  cursor: pointer;
}
.color-container:hover {
  background-color: #f6f8fa;
}
.pallete {
  width: 20px;
  height: 20px;
  margin-left: 16px;
  display: flex;
  border-radius: 50%;
  flex-shrink: 0;
}
.pallete.yellow {
  background-color: #ffff83;
}
.pallete.mint {
  background-color: #a6ffe9;
}
.name {
  font-family: "Montserrat", "Noto Sans KR", "Noto Sans JP", "Noto Sans SC",
    sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  line-height: 20px;
  letter-spacing: -0.35px;
  color: #52565d;
  margin-left: 16px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  flex-shrink: 1;
}
.name.selected {
  color: #00bdb8;
}
.web-filter {
  width: 20px;
  margin-left: 16px;
  height: 20px;
  background-size: 20px;
  background-image: url(https://getliner.com/src/images/web-filter.svg);
}
.web-filter.selected {
  background-image: url(https://getliner.com/src/images/web-filter-selected.svg);
}
.pdf-filter {
  margin-left: 16px;
  width: 20px;
  height: 20px;
  background-size: 20px;
  background-image: url(https://getliner.com/src/images/pdf-filter.svg);
}
.pdf-filter.selected {
  background-image: url(https://getliner.com/src/images/pdf-filter-selected.svg);
}
.button-icon-container {
  display: flex;
  align-items: center;
  width: 20px;
  height: 10px;
}
.type.selected {
  margin-left: auto;
  position: absolute;
  right: 32px;
  width: 14px;
  height: 10px;
}
.button-icon-container .selected {
  background-image: url(https://getliner.com/src/images/check.svg);
  background-repeat: no-repeat;
  background-size: 14px 10px;
  width: 14px;
  height: 10px;
  margin-left: 4px;
}
.seperator {
  width: 368px;
  height: 1px;
  margin: 16px 0 7px;
  border: 1px solid #eef1f4;
}
.modal-footer {
  padding: 0 4px;
  display: flex;
  align-items: center;
  height: 40px;
}
.modal-footer .reset {
  font-family: "Montserrat", "Noto Sans KR", "Noto Sans JP", "Noto Sans SC",
    sans-serif;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 24px;
  font-size: 14px;
  letter-spacing: -0.35px;
  color: #787d86;
  border-radius: 8px;
  padding: 8px 12px;
}
.modal-footer .reset.disabled {
  opacity: 0.3;
  cursor: default;
}
.modal-footer .apply {
  font-family: "Montserrat", "Noto Sans KR", "Noto Sans JP", "Noto Sans SC",
    sans-serif;
  font-weight: 700;
  font-stretch: normal;
  font-style: normal;
  line-height: 24px;
  font-size: 16px;
  letter-spacing: -0.4px;
  color: #00bdb8;
  margin-left: auto;
  padding: 8px 12px;
  border-radius: 8px;
  display: flex;
}
.modal-footer .apply:hover {
  background-color: #e5f8f7;
}
/*export modal*/
.modal-detail .gap {
  margin-bottom: 16px;
}
.modal-detail .text {
  padding: 0 16px;
}
.button-container {
  width: 53px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 16px;
}
.circular-button-container {
  margin-left: 8px;
  padding-top: 24px;
  padding-bottom: 24px;
  display: flex;
}
.circular-button {
  margin-left: 0;
  background-repeat: no-repeat;
  background-size: 36px 36px;
  width: 36px;
  height: 36px;
}
.circular-button.word {
  background-image: url(https://getliner.com/src/images/word.svg);
}
.circular-button.onenote {
  background-image: url(https://getliner.com/src/images/onenote.svg);
}
.circular-button.evernote {
  background-image: url(https://getliner.com/src/images/evernote.svg);
}
.circular-button.plain-text {
  background-image: url(https://getliner.com/src/images/text.svg);
}
.circular-button:hover .export-button-hover {
  display: block;
  height: 36px;
  z-index: 10;
  width: 36px;
  border-radius: 50%;
  background-color: rgba(39, 43, 49, 0.1);
}
.button-title {
  font-family: "Montserrat", "Noto Sans KR", "Noto Sans JP", "Noto Sans SC",
    sans-serif;
  font-size: 12px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.3px;
  text-align: center;
  color: #787d86;
  display: block;
  margin-top: 8px;
}
